
@{
    ViewBag.Title = "ContactUsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>
<p> For any suggestion,queries,complaints etc,
    Please Contact us at:
    <li>
        Address:Anitha,Maya Bazar,Madanapalle,517325
        </li>
    <li>Email:anitha@gmail.com
        </li>
    <li>Phone:180050151452
        </li></p>

