@model MakeupOnline.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Product Details</h2>

<div class="product-detail">
    <div class="product-images">
        @{
            var base64 = Convert.ToBase64String(Model.Image);
            var imgsrc = string.Format("data:image;base64,{0}", base64);
        }
        <a href="#">
            <img src='@imgsrc' alt="" />
        </a>
    </div>
    <div class="product-detail-content">
        <p>Product Name:@Model.ProductName</p>
        <p>Product Price:@(string.Format("{0:N0}", Model.Price))</p>
        <p>@Html.ActionLink("Move to Cart", "OrderNow", "ShoppingCart", new { id = Model.ProductId }, null)</p>
    </div>
</div>

